## Ignore Jetbrains IDE files
.idea

## Ignore JVM files
*.jar

## Setup for gradle files
.gradle
**/build/
!src/**/build/
gradle-app.setting
!gradle-wrapper.jar
!gradle-wrapper.properties

## Setup for checkstyle
bin/

## Antlr files
.antlr/

## VSCode files
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
.history/
*.vsix